html {
    background: rgb(0, 0, 0); 
    background-size: 100%;
}
* {
    box-sizing: border-box;
}



/* Style the body */
body {
    font-family: Arial;
    margin: 0;
    
}

/* Header/logo Title */
.header {
    margin: auto; /* Выровнять по центру*/ 
    max-width: 1300px; /* макс ширина*/
    padding: 210px; /* отступ*/
    max-height: 400px; /* макс высота*/
    text-align: center; /* текст по центу*/
    background: #1abc9c;
    color: white; 
    background: url(/files/Untitled-6.jpg) no-repeat;
    background-size: 100%;
}



/* Increase the font size of the heading */
.header h1 {
    font-size: 40px; 
}

/* Style the top navigation bar */
.navbar {
    margin: auto;
    max-width: 1300px;
    overflow: hidden;
    background-color: #851f1f;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #a7a7a7;
    color: rgb(170, 163, 163);
}

/* Column container */
.row {
    margin: auto;
    max-width: 1300px;
    background-color: #ffffff;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f7f7f7;
    padding: 20px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: wh;
    padding: 20px;
}

.main-кинопоиск {   
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #771c1c;
    
}
.side-кинопоиск {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #501d1d;
}

/* Fake image, just for this example */
.основной-блок {
    background-color: #771c1c;
    width: 100%;
    padding: 50px;
}
.основной-блок2 {
    background-color: #771c1c;
    width: 100%;
    padding: 30px;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.checked {
    color: orange;
}

.рейтинг-глав {
    display: flex;
    justify-content: flex-start
}

.слова {
    margin-bottom: 40px;
}

.рейтинг {
   
    padding-bottom: 1px;
}

.оценка {
    background-color: rgb(70, 70, 70); 
    border: 10px solid rgb(70, 70, 70);

    color: white;
}

.кинопоиск {
    padding-left: 10px;
    padding-right: 4px;
    color:#ffffff;
}


.пиписька {
    margin-right: 34px;
    margin-left: 10,5px;
}

.сезоны {
    margin-left: 10px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.сезоны-гипер {
  
    text-decoration: none;
}

.Блок-сезоны {
    display: flex;
    margin:0;
}

.основной-блок3 {
    background-color: #771c1c;
    width: 100%;
    padding: 30px;
}

.Блок-манги {
    padding: 10px;
    display: flex;
   
}

.манга-гипер {
    text-decoration: none;
    margin: 0;
    
}

.манги {
    margin: 0;
    margin-left: 38px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.основной-блок4 {
    background-color: #771c1c;
    width: 100%;
    padding: 15px;
    color: white;
    text-align: center;
}

.nadpis {
margin-top: 20px;  
}